@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/huycss/contactlist.css">
    <link href="~/https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="~/https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/js/fake_api_listContact.js" ></script>
    <script src="~/https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
}
    <div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      @*<div class="modal-body">
        <p>@ViewBag.contact.Id</p>
      </div>*@
      <div class="modal-body">
        <p>@ViewBag.contact.DateTime</p>
      </div>
      <div class="modal-body">
        <p>@ViewBag.contact.FullName</p>
      </div>
      <div class="modal-body">
        <p>@ViewBag.contact.Subject</p>
      </div>
      <div class="modal-body">
        <p>@ViewBag.contact.Message</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    